<section class="content-header">
    <h1>{{ vm.title }} <small>DevStore</small></h1>
    <ol class="breadcrumb">
        <li class="active">Página Inicial</li>
        <li>{{ vm.title }}</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6" ng-repeat="product in vm.products">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        230
                    </h3>
                    <p>
                        Sales
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios7-cart-outline"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>